$color_1: grey;
$color_2: #db9797;
$color_3: #fff;
$color_4: #f00;
$color_5: #888;
$color_6: #555;
$color_7: #f8f8ff;
$background-color_1: #0074cc;
$background-color_2: #aecae3;
$background-color_3: #333;
$background-color_4: #008080;
$background-color_5: #006666;
