$color_1: grey;
$color_2: #db9797;
$color_3: #fff;
$color_4: #f00;
$color_5: #888;
$color_6: #555;
$color_7: #f8f8ff;
$background-color_1: #0074cc;
$background-color_2: #aecae3;
$background-color_3: #333;
$background-color_4: #008080;
$background-color_5: #006666;

$font-size-base: 16px;
$font-weight-normal: 400;
$font-weight-bold: 700;

$border-radius: 10px;

$box-shadow-1: 0 6px 12px -2px rgba(50, 50, 93, 0.4), 0 3px 7px -3px rgba(0, 0, 0, 0.3);
$box-shadow-2: 0 1px 3px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.1);
$box-shadow-3: 0 0 5px rgba(0, 0, 0, 0.2);

$margin-10: 10px;
$margin-20: 20px;
$margin-50: 50px;

$padding-10: 10px;
$padding-20: 20px;

$line-height: 1.4;

$text-input-background: $background-color_2;

$button-background: $background-color_1;
$button-text-color: $color_3;

$link-color: $color_7;

$hover-transition-duration: 0.3s;
